@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pill {
        @apply h-[1.1rem] w-2 bg-white rounded-full border-t-black/60 border-x-black/60 border-b-transparent border-[0.5px];
    }
    .button {
        @apply px-4 py-3 text-white text-sm font-montserrat h-max font-bold select-none active:translate-y-1 active:shadow-none active:border-b-[0px] border-b-[1px] transition-all duration-150 rounded-md;
    }
}

@layer base {
    @font-face {
        font-family: "Hind Madurai Light";
        src: url('../public/fonts/HindMadurai-Light.ttf');
    }
    @font-face {
        font-family: "Hind Madurai Regular";
        src: url('../public/fonts/HindMadurai-Regular.ttf');
    }
    @font-face {
        font-family: "Montserrat";
        src: url('../public/fonts/Montserrat.ttf');
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

canvas {
    width: 250px !important;
    height: 250px !important;
}
